.title-inner,
#e2-blog-author,
#e2-blog-description,
.e2-login-sheet,
.e2-text-textarea,
.e2-comments-toggle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#e2-blog-description{
  line-height: 1em;
  padding-top: 10px;
}

.title-inner {
  font-size: 2em;
  line-height: 1em;
}

a:hover .title-inner {
  border: none;
}

.my-folder, .my-file {
  position: relative;
  padding-left: calc(var(--noteTextFontSize) + 5px);
}

.my-folder::before, .my-file::before {
  width: var(--noteTextFontSize);
  height: var(--noteTextFontSize);
  content: '';
  position: absolute;
  left: 0px;
  top: 6px;
}

.my-folder::before {
  background: url(/entry/pictures/folder.svg);
  background-size: cover;
}

.my-file::before {
  background: url(/entry/pictures/file.svg);
  background-size: cover;
}

.my-code {
  color: #268bd2;
  font-family: "Consolas", "Courier New", monospace;
}

.my-callout {
  display: inline-block;
  background: var(--inputBackgroundColor);
  border: 1px solid var(--inputBackgroundColor);
  padding: 5px 20px;
  margin-left: -20px;
  border-radius: 5px;
}

.e2-published {
  position: relative;
}

.e2-published.e2-smart-title:before {
  content: "";
  background: var(--articleTitlePic);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  filter: grayscale(1);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -60px;
}

.e2-published:hover.e2-smart-title:before {
  filter: none;
}

.e2-note:first-of-type .e2-published.e2-smart-title:before {
  display: none;
}

@media screen and (max-width:1024px) {
  .e2-published.e2-smart-title:before {
    position: absolute;
    top: -45px;
    left: 0;
  }
}
